[submodule "authorship_unmasking/ext_modules/clts"]
	path = authorship_unmasking/ext_modules/clts
	url = git@github.com:cldf-clts/clts.git
[submodule "NAACL-19"]
	path = NAACL-19
	url = https://github.com/webis-de/NAACL-19.git
