# Input files
in/

# Output files
out/
out_meta/
out*/
data/

# Cache and compiled files
*.pyc
__pycache__/
venv/
dist/
*.egg-info/
build/
cache/

# Project files
.vscode
.idea
*.iml
.project

# Archives
*.zip
*.xz
*.gz
*.bz2
*.tar

# OS files
.DS_Store
.directory
Thumbs.db
desktop.ini

# Temporary files
*~
*.tmp
*.swp
*.bkp
tmp.*
app/temp_job.yml
