[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
msgpack-python = "*"
nltk = "*"
numpy = "*"
scikit-learn = ">=0.20"
scipy = "*"
typing = "*"
pyyaml = "*"
pyqt5 = "*"
pyclts = "*"
pyphonetics = "*"
g2p-en = "*"
spacy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
